:root {
  font-family: "Marianina FY Regular";
  width: auto;
  height: 100vh;
  --violet: #532D6D;
  --white: #FFFFFF;
  --darkgray: #1D1D1D;
  --ligthgray: #464652;
  --yellow: #CFDE00;
  --salmon: #FF7962;
  --blue: #17C7D2;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: auto;
  height: 100%;
}